@{
    ViewBag.Title = "Not Found";
}

<div class="row">
    <div class="col-12 mt-2 mb-1">
        <h3>@ViewBag.ErrorMessage</h3>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary" style="width:100%;">Back to List</a>
    </div>
</div>